<div class="jumbotron-mini text-center">
	<h1>Users</h1>

	<p>{{ tagline }}</p>
</div>

<!-- ENTER NEW PERSON -->
<div class="jumbotron-mini text-center">
	<p>New user registration:</p>
	<form action="/api/person/create" method="post">
		<label for="name">Name:&nbsp;</label>
		<input type="text" name="moniker" placeholder="Colin Szechy"/><br>

		<!--<label for="last name">Last Name:</label>
		<input type="text" name="last_name" placeholder="Last"/><br>-->
		<!-- Added the spaces to make things inline-->
		<label for="height">Height:</label>
		<input type="number" step="any" min="0" name="height" placeholder="0.0"/><br><br>

		<input type="submit" value="Enroll user"/>
	</form>
</div>

<!-- PERSON LIST -->
<div class="jumbotron-mini text-center">
    <!-- LOOP OVER THE TODOS IN $scope.todos -->
    <div class="checkbox" ng-repeat="person in persons">
    	<form action="/api/person-delete/" style="margin: 0; padding: 0;" method="post" >
    		<input type="hidden" name="id" value="{{person._id}}">
    		<p><b>{{ person.moniker }} </b> - {{ person.height }}" - Room: {{ person.current_room }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    		<input style="display: inline;" type="submit" value="Delete"></p>
    	</form>
    </div>
</div>
