<nav class="navbar navbar-inverse">
	<div class="navbar-header">
		<a class="navbar-brand" href="/">DOORJAMB</a>
	</div>
	<ul class="nav navbar-nav">
		<!--<li><a href="/geeks">Visualization</a></li>-->
		<li><a href="/profile/status">Status</a></li>
		<li><a href="/profile/persons">Users</a></li>
		<li><a href="/profile/logs">Logs</a></li>
		<li><a href="/profile/doors">Doors</a></li>
	</ul>
</nav>
